.MyFooter {
  width: 100%;
  background-color: #032d5d;
  color: #fff;
  padding: 30px 20px;
  position: fixed;
  bottom: 0%;
  margin: 0 auto  ;
  display: flex;
  
  
 
}
  

.footer {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;

}



footer-copyright {
  text-align: center;
  font-size: 3px;
}


@media (max-width: 750px) {
  .footer-content {
    flex-direction: column;
    gap: 35px;
    text-align: center;
  }
}